<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Creación fallida</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <div>No se pudo generar su registro. 
            La identificación escrita se encuentra almacenada en el sistema.
            No se puede volver a registrar una sesión con la misma identificación
            <a th:href="@{/}" >[[#{accion.regresar}]]</a>
        </div>
    </body>
</html>
